* {
    margin: 0;
    padding: 0;
}

body {
    background-color: moccasin;
    font-family: "Arvo", serif;
    border: 2px solid black;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    color: white;
    font-size: 50res;
    text-shadow: 3px 0 #DA0463;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    margin: 2rem ;
}

.btn {
    border: 10px, solid, grey;
    width: 150px;
    height: 150px;
    font-weight: 900;
    font-size: 5res;
    text-shadow: 3px 0 white;
    color: #DA0463;
    border-radius: 15px;
    outline: none;
}

.w {
    background-image: url("images/tom1.png");
}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}

.k {
    background-image: url("images/crash.png");
}

.l {
    background-image: url("images/kick.png");
}


.pressed {
    box-shadow: 0 3px 4px 0 #0c4a5e;
    opacity: 0.5;
}


footer {
    position: fixed;
    bottom: 10px;
}

footer .p {
    color: white;
    text-align: center;
}